<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('fontawesome') }}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% include "_header.html.twig" %}

<div data-controller="hello"></div>

<section class="container mt-3">
    <div>
        {% block body %}{% endblock %}
    </div>
</section>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
